@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#000203] text-slate-200;
}

/* For WebKit Browsers such as Chrome, Safari */

::-webkit-scrollbar {
  @apply m-20 h-[10px] w-[10px] bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[10px] bg-[#a3a3a3ab];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#a3a3a3e1];
}

::-webkit-scrollbar-thumb:active {
  @apply bg-[#a3a3a3];
}

/* For Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #a3a3a3ab transparent;
}

/* For Edge */
*::-webkit-scrollbar {
  @apply w-[10px];
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-[10px] bg-[#a3a3a3ab];
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-[#a3a3a3e1];
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-[#a3a3a3];
}

@keyframes highlight {
  0%,
  100% {
    border: transparent;
  }
  50% {
    border: 1px solid #f6e05e;
  }
}

.animate-highlight {
  animation: highlight 1s ease-in-out 2;
}
