@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-marquee: marquee 10s linear infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem));
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  @apply bg-[#0b0d0f] text-white;
}

/* For WebKit Browsers such as Chrome, Safari */

::-webkit-scrollbar {
  @apply m-20 h-[10px] w-[10px] bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[10px] bg-[#a3a3a3ab];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#a3a3a3e1];
}

::-webkit-scrollbar-thumb:active {
  @apply bg-[#a3a3a3];
}

/* For Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #a3a3a3ab transparent;
}

/* For Edge */
*::-webkit-scrollbar {
  @apply w-[10px];
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-[10px] bg-[#a3a3a3ab];
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-[#a3a3a3e1];
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-[#a3a3a3];
}

@keyframes highlight {
  0%, 100% {
    border: transparent;
  }
  50% {
    border: 1px solid #f6e05e;
  }
}

.animate-highlight {
  animation: highlight 1s ease-in-out 2;
}