on:
  push:
    branches:
      - develop
    paths: ['apps/api/**', '.github/workflows/stage-api.yml', 'fly.api.toml']

env:
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
  DATABASE_URL: ${{ secrets.DATABASE_URL }}

jobs:
  deploy-api-stage:
    runs-on: ubuntu-latest
    name: Deploy to stage
    if: github.ref == 'refs/heads/develop'

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install fly CLI
        run: |
          curl -L https://fly.io/install.sh | sh
      - name: Deploy to stage
        run: ~/.fly/bin/fly deploy --config fly.api.toml --dockerfile ./apps/api/Dockerfile --app keyshade-api-stage --access-token ${{ secrets.FLY_ACCESS_TOKEN }} --build-arg SENTRY_AUTH_TOKEN=${SENTRY_AUTH_TOKEN} --build-arg SENTRY_PROJECT=keyshade-api --build-arg SENTRY_ORG=keyshade --build-arg SENTRY_ENVIRONMENT=stage --build-arg DATABASE_URL=${DATABASE_URL}
