on:
  push:
    branches:
      - develop
    paths: ['apps/api/**', '.github/workflows/stage-api.yml']

env:
  SENTRY_PROJECT: keyshade-api
  SENTRY_ENVIRONMENT: production
  SENTRY_ORG: keyshade
  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

jobs:
  deploy-api-stage:
    runs-on: ubuntu-latest
    name: Deploy to stage
    if: github.ref == 'refs/heads/develop'

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install fly CLI
        run: |
          curl -L https://fly.io/install.sh | sh
      - name: Deploy to stage
        run: ~/.fly/bin/fly deploy --config fly.api.toml --dockerfile ./apps/api/Dockerfile --app keyshade-api-stage --access-token ${{ secrets.FLY_ACCESS_TOKEN }}
