name: Validate API Client

on:
  push:
    branches:
      - '!develop'
      - '!main'
    paths:
      [
        'packages/schema/**',
        'packages/api-client/**',
        '.github/workflows/validate-api-client.yaml'
      ]
  pull_request:
    paths:
      [
        'packages/schema/**',
        'packages/api-client/**',
        '.github/workflows/validate-api-client.yaml'
      ]

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate API Client

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup pnpm
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.4

      - uses: actions/cache@v4
        name: Setup bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install packages
        run: |
          bun install --frozen-lockfile

      - name: Lint
        run: |
          bun run lint:api-client

      - name: Build
        run: |
          bun run build:api-client

      - name: Test
        run: |
          bun run test:api-client

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          version: 'v0.1.15'
        with:
          flags: api-client
          files: /coverage/packages/api-client/coverage-final.json
