name: Validate API

on:
  push:
    branches:
      - '!develop'
      - '!main'
    paths: ['apps/api/**', '.github/workflows/validate-api.yml']
  pull_request:
    paths: ['apps/api/**', '.github/workflows/validate-api.yml']

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate API

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.2.0
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install packages
        run: |
          pnpm i

      - name: Lint
        run: |
          pnpm run lint:api

      - name: Unit tests
        run: |
          pnpm run db:generate-types
          pnpm run unit:api

      - name: E2E tests
        env:
          REDIS_URL: redis://localhost:6379
          JWT_SECRET: secret
        run: pnpm run e2e:api

      - name: Upload e2e test coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          version: 'v0.1.15'
        with:
          flags: api-e2e-tests
          files: /coverage/apps/api/coverage-final.json
