name: Validate CLI

on:
  push:
    branches:
      - '!develop'
      - '!main'
    paths:
      [
        'packages/api-client/**',
        'packages/secret-scan/**',
        'apps/cli/**',
        '.github/workflows/validate-cli.yaml',
        '.github/workflows/deploy-cli.yaml'
      ]
  pull_request:
    paths:
      [
        'packages/api-client/**',
        'packages/secret-scan/**',
        'apps/cli/**',
        '.github/workflows/deploy-cli.yaml',
        '.github/workflows/validate-cli.yaml'
      ]


jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate CLI

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.4

      - uses: actions/cache@v4
        name: Setup bun cache
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install packages
        run: |
          bun install --frozen-lockfile

      - name: Lint
        run: |
          bun run lint:cli

      - name: Build
        run: |
          bun run build:cli
