on:
  push:
    branches:
      - '!develop'
      - '!main'
    paths:
      ['packages/api-client/**', '.github/workflows/validate-api-client.yaml']
  pull_request:
    paths:
      ['packages/api-client/**', '.github/workflows/validate-api-client.yaml']

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate API Client

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.2.0
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install packages
        run: |
          pnpm i

      - name: Lint
        run: |
          pnpm run lint:api-client

      - name: Test
        env:
          NODE_ENV: e2e
          GITHUB_CLIENT_ID: dummy
          GITHUB_CLIENT_SECRET: dummy
          GITHUB_CALLBACK_URL: dummy
          REDIS_URL: redis://localhost:6379
          JWT_SECRET: secret
        run: |
          pnpm run test:api-client

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          flags: api-client
